<div class="wrapper wrapper-content animated fadeInDown">
  <div id="Entete" class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="logo-center col-lg-2">
            <div class="logo-center">
              <img width="100%" height="105%" src="assets/img/syndic.png" />
            </div>
          </div>
          <div class="logo-center col-lg-8">
            <br />
            <br />
            <h4 class="text-center grey-background">Bulletin de Dépense</h4>
          </div>

          <div class="logo-center col-lg-2"></div>
        </div>
        <div class="col-lg-12">
          <br /><br />
          <table style="width: 100%" class="table table-bordered">
            <thead>
              <tr>
                <th width="10%" class="detailsDocTitle">N° Brouillard</th>
                <th width="10%" class="detailsDocTitle">N° Bulletin</th>
                <th width="10%" class="detailsDocTitle">Date</th>
                <th width="10%" class="detailsDocTitle">Objet</th>
                <th width="10%" class="detailsDocTitle">N° Doc</th>
                <th width="10%" class="detailsDocTitle">Nature</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CC-4</td>
                <td>D23000006</td>
                <td>18/12/2023</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <br />

          <table style="width: 100%" class="table table-bordered">
            <tbody>
              <tr>
                <td style="width: 80%"><b>Total</b></td>
                <td class="text-right" style="width: 16%"><b>200.000</b></td>
              </tr>
            </tbody>
          </table>
          <br /><br />
          <p>
            Arrêté le présent Bulletin à la somme de :<br />
            deux cents Dinars , zéro millimes
          </p>
          <br /><br />
          <div class="col-lg-6">
            <p class="text-center"><u></u></p>
          </div>
          <div class="col-lg-6">
            <p class="text-center"><u>Signature du Caissier</u></p>
          </div>
        </div>

        <div class="col-lg-12">
          <br /><br />
          <br /><br />
          <div class="modal-footer">
            <input
              type="submit"
              class="btn btn-primary btn-xs dropdown-toggle"
              value="Valider"
            />

            <input
              type="submit"
              class="btn btn-white btn-xs dropdown-toggle"
              value="Annuler"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
