<div class="wrapper wrapper-content animated fadeInDown">
  <div id="Entete" class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="logo-center col-lg-2">
            <div class="logo-center">
              <img width="100%" height="105%" src="assets/img/syndic.png" />
            </div>
          </div>
          <div class="logo-center col-lg-8">
            <br />
            <br />
            <h4 class="text-center grey-background">Brouillard de Caisse</h4>
            <h4 class="text-center"></h4>
          </div>

          <div class="logo-center col-lg-2"></div>
        </div>

        <div class="col-lg-12">
          <br /><br />
          <table style="width: 100%" class="table table-bordered">
            <thead>
              <tr>
                <th width="40%" class="detailsDocTitle">Caisse</th>
                <th width="40%" class="detailsDocTitle">
                  N°Brouillard de Caisse
                </th>
                <th width="40%" class="detailsDocTitle">Date Debut</th>
                <th width="40%" class="detailsDocTitle">Date Fin</th>
                <th width="40%" class="detailsDocTitle">Clôturé</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CAISSE-CL</td>
                <td>CC-2</td>
                <td>22/06/2023 15:43:23</td>
                <td>22/06/2023 15:43:23</td>

                <td>NON</td>
              </tr>
            </tbody>
          </table>
          <br />
          <h3>Solde Initial</h3>

          <table style="width: 100%" class="table table-bordered">
            <thead>
              <tr>
                <th class="detailsDocTitle text-center">Type</th>
                <th class="detailsDocTitle text-center">Encaissement</th>
                <th class="detailsDocTitle text-center">Decaissement</th>
                <th class="detailsDocTitle text-center">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Espece</td>
                <td>-</td>
                <td>-</td>

                <td class="text-center">83 489,312</td>
              </tr>
              <tr>
                <td class="text-center">Chèque</td>
                <td>-</td>
                <td>-</td>

                <td class="text-center">183 489,312</td>
              </tr>
              <tr>
                <td>Solde initial :</td>
                <td class="text-right"><b>0,000</b></td>
                <td class="text-right"><b>0,000</b></td>
                <td class="text-right"><b>243 489,312</b></td>
              </tr>
            </tbody>
          </table>
          <h3>Détail Mouvements</h3>
          <table style="width: 100%" class="table table-bordered">
            <thead>
              <tr>
                <th class="detailsDocTitle text-center">N° Bulletin</th>
                <th class="detailsDocTitle text-center">Type</th>
                <th class="detailsDocTitle text-center">N° Document</th>
                <th class="detailsDocTitle text-center">Encaissements</th>
                <th class="detailsDocTitle text-center">Decaissements</th>
                <th class="detailsDocTitle text-center">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">CCR23000111</td>
                <td>Espece</td>
                <td>0000018</td>
                <td>410,000</td>
                <td></td>
                <td class="text-center">410,000</td>
              </tr>
              <tr>
                <td class="text-center">CCR23000111</td>
                <td>Espece</td>
                <td>0000018</td>
                <td>410,000</td>
                <td></td>
                <td class="text-center">410,000</td>
              </tr>
              <tr>
                <td class="text-center">CCR23000112</td>
                <td>Chéque</td>
                <td>0000012</td>
                <td>849,000</td>
                <td></td>
                <td class="text-center">849,000</td>
              </tr>
              <tr>
                <td class="text-center">CCR23000116</td>
                <td>Chèque</td>
                <td>0000016</td>
                <td>1 210,000</td>
                <td></td>
                <td class="text-center">1 210,000</td>
              </tr>
              <tr>
                <td class="text-center">CCR23000111</td>
                <td>Espece</td>
                <td>0000018</td>
                <td>410,000</td>
                <td></td>
                <td class="text-center">410,000</td>
              </tr>
              <tr>
                <td class="text-center">CCR23000111</td>
                <td>Espece</td>
                <td>0000018</td>
                <td>410,000</td>
                <td></td>
                <td class="text-center">410,000</td>
              </tr>
              <tr>
                <td colspan="5">Total :</td>
                <td class="text-right"><b>283 489,312</b></td>
              </tr>
            </tbody>
          </table>
          <h3>Solde Final</h3>
          <table style="width: 100%" class="table table-bordered">
            <thead>
              <tr>
                <th class="detailsDocTitle text-center">Type</th>
                <th class="detailsDocTitle text-center">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Espece</td>
                <td class="text-right"><b>83 489,312</b></td>
              </tr>
            </tbody>
          </table>
          <br />
          <p>
            Arrêté le présent Brouillard à la somme de: soixante-quatre mille
            trois cent quatre-vingt-sept Dinars quatre cent quarante-neuf
            Millimes<br />
          </p>
          <br />
          <br />
          <div class="col-lg-6">
            <p class="text-center"><u>Signature du Caissier</u></p>
          </div>
          <div class="col-lg-6">
            <p class="text-center"><u>Signature du Contrôleur</u></p>
          </div>
          <br />
          <br />
          <br />
        </div>
        <br />
        <br />
        <br />
        <div class="col-lg-12">
          <div class="modal-footer">
            <input
              type="submit"
              class="btn btn-primary btn-xs dropdown-toggle"
              value="Valider"
            />
            <input
              type="submit"
              class="btn btn-white btn-xs dropdown-toggle"
              value="Annuler"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
