<div class="wrapper wrapper-content animated fadeInDown">
  <div id="Entete" class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="logo-center col-lg-2">
            <div class="logo-center">
              <img width="100%" height="105%" src="assets/img/syndic.png" />
            </div>
          </div>
          <div class="logo-center col-lg-8">
            <br />
            <br />
            <h4 class="text-center grey-background">Bordereau de Remise</h4>
          </div>

          <div class="logo-center col-lg-2"></div>
        </div>
        <div class="col-lg-12">
          <br /><br />
          <table style="width: 100%" class="table table-bordered">
            <thead>
              <tr>
                <th width="10%" class="detailsDocTitle">N° Bordereau</th>
                <th width="10%" class="detailsDocTitle">Type</th>
                <th width="10%" class="detailsDocTitle">Nature</th>
                <th width="10%" class="detailsDocTitle">Banque</th>
                <th width="10%" class="detailsDocTitle">RIB</th>
                <th width="10%" class="detailsDocTitle">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CCV23000006</td>
                <td>Espece</td>
                <td></td>
                <td>ATB</td>
                <td>0000000000555555252</td>
                <td>18/12/2023</td>
              </tr>
              <tr>
                <td>Objet</td>
                <td colspan="5">TEST</td>
              </tr>
            </tbody>
          </table>
          <br />

          <table style="width: 100%" class="table table-bordered">
            <thead>
              <tr>
                <th width="10%" class="detailsDocTitle">N° Pièce</th>
                <th width="10%" class="detailsDocTitle">Banque</th>
                <th width="10%" class="detailsDocTitle">Agence</th>
                <th width="10%" class="detailsDocTitle">Intitulé</th>
                <th width="10%" class="detailsDocTitle">Montant</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>TEST</td>
                <td>ATB</td>
                <td></td>
                <td></td>
                <td>223,582</td>
              </tr>
              <tr>
                <td colspan="4"><b>Montant Total</b></td>
                <td class="text-right"><b>223,582</b></td>
              </tr>
              <tr>
                <td colspan="1">Nombre de Pièces :</td>
                <td colspan="4"><b>1</b></td>
              </tr>
            </tbody>
          </table>
          <br /><br />
          <p>
            Arrêté le présent Bulletin à la somme de :<br />
            deux cent vingt-trois Dinars , cinq cent quatre-vingt-deux millime
          </p>
          <br /><br />
          <div class="col-lg-6">
            <p class="text-center">
              <i><b>Cachet et visa de la Sociét</b></i>
            </p>
          </div>
          <div class="col-lg-6">
            <p class="text-center">
              <i><b>Cachet et visa de la Banque</b></i>
            </p>
          </div>
        </div>

        <div class="col-lg-12">
          <br /><br />
          <br /><br />
          <div class="modal-footer">
            <input
              type="submit"
              class="btn btn-primary btn-xs dropdown-toggle"
              value="Valider"
            />

            <input
              type="submit"
              class="btn btn-white btn-xs dropdown-toggle"
              value="Annuler"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
