<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-info pull-right">Détail</span>

          <small><b style="font-size: 12px">Cotisation à recouvrir</b></small>
        </div>
        <div class="ibox-content">
          <table style="width: 100%">
            <tr>
              <td style="width: 70">
                <small class="text-left"><b> Locaux Résidentiels</b> </small>
              </td>
              <td style="width: 10%">
                <small class="text-left"><b>100.000</b> </small>
              </td>
            </tr>
            <tr>
              <td style="width: 70%">
                <small class="text-left"><b> Locaux commerciaux</b> </small>
              </td>
              <td style="width: 10%">
                <small class="text-left"><b>300.000</b> </small>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">Annuel</span>

          <small><b style="font-size: 10px">Versement</b></small>
        </div>
        <div class="ibox-content">
          <table style="width: 100%">
            <tr>
              <td style="width: 50">
                <small class="text-left" style="font-size: 9px"
                  ><b>Espéce</b>
                </small>
              </td>
              <td style="width: 10%">
                <small class="text-left" style="font-size: 9px"
                  ><b>10</b>
                </small>
              </td>
            </tr>
            <tr>
              <td style="width: 50">
                <small class="text-left" style="font-size: 9px"
                  ><b>Chèque</b>
                </small>
              </td>
              <td style="width: 10%">
                <small class="text-left" style="font-size: 9px"
                  ><b>30</b>
                </small>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">20/12/2023</span>

          <small><b style="font-size: 12px">Solde Coffre</b></small>
        </div>
        <div class="ibox-content">
          <table style="width: 100%">
            <tr>
              <td style="width: 70">
                <small class="text-left" style="font-size: 9px"
                  ><b>Espéce</b>
                </small>
              </td>
              <td style="width: 10%" style="font-size: 9px">
                <small class="text-left"><b>10</b> </small>
              </td>
            </tr>
            <tr>
              <td style="width: 70%">
                <small class="text-left" style="font-size: 9px"
                  ><b>Chèque</b>
                </small>
              </td>
              <td style="width: 10%">
                <small class="text-left" style="font-size: 9px"
                  ><b>30</b>
                </small>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Evolution Dépense Par Rapport à Recette</h5>
        </div>
        <div class="ibox-content no-padding">
          <div class="flot-chart m-t-lg" style="height: 55px">
            <div class="flot-chart-content" id="flot-chart1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div>
            <h3 class="font-bold no-margins">Evolution Dépenses</h3>
          </div>

          <div class="m-t-sm">
            <div class="row">
              <div class="col-md-8">
                <div>
                  <canvas
                    id="lineChart"
                    style="width: 30%; height: 10%"
                  ></canvas>
                </div>
              </div>
              <div class="col-md-4">
                <ul class="stat-list m-t-lg">
                  <li>
                    <h2 class="no-margins">2,346</h2>
                    <small>Dépenses du mois </small>
                    <div class="progress progress-mini">
                      <div class="progress-bar" style="width: 48%"></div>
                    </div>
                  </li>
                  <li>
                    <h2 class="no-margins">4,422</h2>
                    <small>Dépenses l'exercice</small>
                    <div class="progress progress-mini">
                      <div class="progress-bar" style="width: 60%"></div>
                    </div>
                  </li>
                  <li>
                    <h2 class="no-margins">4,345</h2>
                    <small>Dépenses de l'exercice précedent</small>
                    <div class="progress progress-mini">
                      <div class="progress-bar" style="width: 60%"></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>affaires contentieux</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a></li>
              <li><a href="#">Config option 2</a></li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Local</th>
                <th>Propriétaire</th>
                <th>Montant</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>L230001</td>
                <td class="text-center">Ahmed Baha</td>
                <td>230.000</td>
              </tr>
              <tr>
                <td>L230002</td>
                <td class="text-center">Mahmoud Karabaka</td>
                <td>300.000</td>
              </tr>
              <tr>
                <td>L230009</td>
                <td class="text-center">Ichrak Cherif</td>
                <td>100.000</td>
              </tr>
              <tr>
                <td>L230002</td>
                <td class="text-center">Mahmoud Karabaka</td>
                <td>300.000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-3">
      <small><b>Top Dépenses Par Nature </b></small>
      <div class="full-height-scroll">
        <div class="table-responsive">
          <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 5%" class="client-avatar">
                      <span class="label label-success">1</span>
                    </td>
                    <td style="width: 20%">
                      <a
                        data-toggle="tab"
                        href="#contact-1"
                        class="client-link"
                      >
                        Amine Kesntini</a
                      >
                    </td>
                    <td style="width: 10%" class="text-centre">10</td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li class="list-group-item">
              <table>
                <tbody>
                  <tr>
                    <td style="width: 5%" class="client-avatar">
                      <span class="label label-success">2</span>
                    </td>
                    <td style="width: 20%">
                      <a
                        data-toggle="tab"
                        href="#contact-1"
                        class="client-link"
                      >
                        Amine Kesntini</a
                      >
                    </td>
                    <td style="width: 10%" class="text-centre">10</td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li class="list-group-item">
              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 5%" class="client-avatar">
                      <span class="label label-success">3</span>
                    </td>
                    <td style="width: 20%">
                      <a
                        data-toggle="tab"
                        href="#contact-1"
                        class="client-link"
                      >
                        Amine Kesntini</a
                      >
                    </td>
                    <td style="width: 10%" class="text-centre">10</td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li class="list-group-item fist-item">
              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 5%" class="client-avatar">
                      <span class="label label-success">4</span>
                    </td>
                    <td style="width: 20%">
                      <a
                        data-toggle="tab"
                        href="#contact-1"
                        class="client-link"
                      >
                        Amine Kesntini</a
                      >
                    </td>
                    <td style="width: 10%" class="text-centre">10</td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li class="list-group-item fist-item">
              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 5%" class="client-avatar">
                      <span class="label label-success">5</span>
                    </td>
                    <td style="width: 20%">
                      <a
                        data-toggle="tab"
                        href="#contact-1"
                        class="client-link"
                      >
                        Amine Kesntini</a
                      >
                    </td>
                    <td style="width: 10%" class="text-centre">10</td>
                  </tr>
                </tbody>
              </table>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <small><b>Top Impayés </b></small>
      <div class="full-height-scroll">
        <div class="table-responsive">
          <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 5%" class="client-avatar">
                      <span class="label label-success">1</span>
                    </td>
                    <td style="width: 20%">
                      <a
                        data-toggle="tab"
                        href="#contact-1"
                        class="client-link"
                      >
                        Amine Kesntini</a
                      >
                    </td>
                    <td style="width: 10%" class="text-centre">10</td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li class="list-group-item">
              <table>
                <tbody>
                  <tr>
                    <td style="width: 5%" class="client-avatar">
                      <span class="label label-success">2</span>
                    </td>
                    <td style="width: 20%">
                      <a
                        data-toggle="tab"
                        href="#contact-1"
                        class="client-link"
                      >
                        Amine Kesntini</a
                      >
                    </td>
                    <td style="width: 10%" class="text-centre">10</td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li class="list-group-item">
              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 5%" class="client-avatar">
                      <span class="label label-success">3</span>
                    </td>
                    <td style="width: 20%">
                      <a
                        data-toggle="tab"
                        href="#contact-1"
                        class="client-link"
                      >
                        Amine Kesntini</a
                      >
                    </td>
                    <td style="width: 10%" class="text-centre">10</td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li class="list-group-item fist-item">
              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 5%" class="client-avatar">
                      <span class="label label-success">4</span>
                    </td>
                    <td style="width: 20%">
                      <a
                        data-toggle="tab"
                        href="#contact-1"
                        class="client-link"
                      >
                        Amine Kesntini</a
                      >
                    </td>
                    <td style="width: 10%" class="text-centre">10</td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li class="list-group-item fist-item">
              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 5%" class="client-avatar">
                      <span class="label label-success">5</span>
                    </td>
                    <td style="width: 20%">
                      <a
                        data-toggle="tab"
                        href="#contact-1"
                        class="client-link"
                      >
                        Amine Kesntini</a
                      >
                    </td>
                    <td style="width: 10%" class="text-centre">10</td>
                  </tr>
                </tbody>
              </table>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-content">
          <h3 class="text-center">Les Conventions Expirées</h3>
          <h5>Fournisseurs</h5>

          <ul class="sortable-list connectList agile-list" id="todo">
            <li class="warning-element" id="task1">
              <div class="row">
                <div class="col-md-8">NACEUR AUTOMOBILE SERVICES</div>
                <div class="col-md-3 text-right">
                  <button class="btn btn-xs btn-primary">
                    <i class="fa fa-calendar" aria-hidden="true"
                      >&nbsp; &nbsp; &nbsp;</i
                    >
                    12/02/2023
                  </button>
                </div>
              </div>
            </li>
            <li class="info-element" id="task3">
              <div class="row">
                <div class="col-md-8">ZITOUNA LOGESTICS SERVICES</div>
                <div class="col-md-3 text-right">
                  <button class="btn btn-xs btn-primary">
                    <i class="fa fa-calendar" aria-hidden="true"
                      >&nbsp; &nbsp; &nbsp;</i
                    >
                    12/02/2023
                  </button>
                </div>
              </div>
            </li>
            <li class="danger-element" id="task4">
              <div class="row">
                <div class="col-md-8">WARAM MEDICAL</div>

                <div class="col-md-3 text-right">
                  <button class="btn btn-xs btn-primary">
                    <i class="fa fa-calendar" aria-hidden="true"
                      >&nbsp; &nbsp; &nbsp;</i
                    >
                    12/02/2023
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
