<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Annonces</h2>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="row mb-3">
      <div class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-right">
        <button
          data-toggle="modal"
          data-target="#myModalFacture"
          class="btn btn-lg btn-outline-primary"
          class="btn btn-outline btn-info add dim"
          title="Ajouter"
        >
          <i class="fa fa-plus"></i>
        </button>
        <div
          class="modal inmodal"
          id="myModalFacture"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content animated bounceInRight">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span
                  ><span class="sr-only">Fermer</span>
                </button>
                <h6 class="modal-title">Ajouter Annonce</h6>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-12">
                    <form>
                      <div class="form-group text-left">
                        <div class="col-md-12 mb-3">
                          <label class="">Description </label>
                          <textarea
                            type="text"
                            placeholder="YATA Immobilière vous propose à la vente un appartement S+2 situé au 1er étage de la résidence La LUNA, située sur les hauteurs de la station touristique Kelibia la Blanche, bénéficiant d'une vue sur mer.
Il s'agit d'une résidence en R+2 idéale pour passer vos vacances au bord de la plage classée 7éme des plus belle plage au monde."
                            class="form-control"
                          ></textarea>
                        </div>
                      </div>
                      <div class="form-group text-left">
                        <div class="col-md-3 mb-3">
                          <label class="">Nbr Chambres </label>
                          <input
                            type="text"
                            placeholder=""
                            class="form-control"
                          />
                        </div>
                        <div class="col-md-4 mb-3">
                          <label class="">Nbr Salle de bain </label>
                          <input
                            type="text"
                            placeholder=""
                            class="form-control"
                          />
                        </div>
                        <div class="col-md-3 mb-3">
                          <label class="">Superficie </label>
                          <input
                            type="text"
                            placeholder="104.75 m2"
                            class="form-control"
                          />
                        </div>
                        <div class="col-md-2 mb-3">
                          <label class="">Etage </label>
                          <input
                            type="text"
                            placeholder="104.75 m2"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="form-group text-left">
                        <div class="col-md-4 mb-3">
                          <label class=""> Pays </label>
                          <select class="form-control">
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                          </select>
                        </div>
                        <div class="col-md-4 mb-3">
                          <label class="">Région </label>
                          <select class="form-control">
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                          </select>
                        </div>
                        <div class="col-md-4 mb-3">
                          <label class="">Etage </label>
                          <select class="form-control">
                            <option>1ére</option>
                            <option>2éme</option>
                            <option>3éme</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group text-left">
                        <div class="col-md-4 mb-3">
                          <label class="">Adresse </label>
                          <input
                            type="text"
                            placeholder="104.75 m2"
                            class="form-control"
                          />
                        </div>

                        <div class="col-md-4 mb-3">
                          <label class="">Category </label>
                          <select class="form-control">
                            <option>Category 1</option>
                            <option>Category 2</option>
                            <option>Category 3</option>
                          </select>
                        </div>
                        <div class="col-md-4 mb-3">
                          <label class="">Prix </label>
                          <input
                            type="text"
                            placeholder="104.75 m2"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-lg-12">
                    <br /><br />
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-xs btn-white"
                        data-dismiss="modal"
                      >
                        Annuler
                      </button>
                      <button type="button" class="btn btn-xs btn-primary">
                        Ajouter
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="dataTables_length" id="table_clients_length">
        <label
          >Afficher
          <select
            name="table_clients_length"
            aria-controls="table_clients"
            class="custom-select custom-select-sm form-control form-control-sm"
          >
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          entrées
        </label>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 pull-right">
      <div
        id="table_clients_filter pull-right"
        class="dataTables_filter pull-right"
      >
        <label
          >Rechercher :
          <input
            type="search"
            class="form-control form-control-sm"
            placeholder=""
            aria-controls="table_clients"
          />
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitationannonce">
            <img
              alt="image"
              height="70%"
              width="100%"
              src="assets/img/app3.jpg"
            />
          </div>
          <div class="product-desc">
            <span class="product-price"> $10 </span>
            <small class="text-muted">Category</small>
            <a class="product-name"> S+2</a>

            <div class="small m-t-xs">
              Many desktop publishing packages and web page editors now.
            </div>
            <div class="row">
              <div class="from-row">
                <div class="col-lg-6 m-t text-left">
                  <a class="btn btn-xs btn-outline btn-primary"
                    >Info <i class="fa fa-long-arrow-right"></i>
                  </a>
                </div>
                <div class="col-lg-6 m-t text-right">
                  <a class="btn btn-xs btn-primary"> En cours </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitationannonce">
            <img
              alt="image"
              height="70%"
              width="100%"
              src="assets/img/app3.jpg"
            />
          </div>
          <div class="product-desc">
            <span class="product-price"> $10 </span>
            <small class="text-muted">Category</small>
            <a class="product-name"> S+2</a>

            <div class="small m-t-xs">
              Many desktop publishing packages and web page editors now.
            </div>
            <div class="row">
              <div class="from-row">
                <div class="col-lg-6 m-t text-left">
                  <a class="btn btn-xs btn-outline btn-primary"
                    >Info <i class="fa fa-long-arrow-right"></i>
                  </a>
                </div>
                <div class="col-lg-6 m-t text-right">
                  <a class="btn btn-xs btn-primary"> expire </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box active">
          <div class="product-imitationannonce">
            <img
              alt="image"
              height="70%"
              width="100%"
              src="assets/img/app3.jpg"
            />
          </div>
          <div class="product-desc">
            <span class="product-price"> $10 </span>
            <small class="text-muted">Category</small>
            <a class="product-name"> S+2</a>

            <div class="small m-t-xs">
              Many desktop publishing packages and web page editors now.
            </div>
            <div class="row">
              <div class="from-row">
                <div class="col-lg-6 m-t text-left">
                  <a class="btn btn-xs btn-outline btn-primary"
                    >Info <i class="fa fa-long-arrow-right"></i>
                  </a>
                </div>
                <div class="col-lg-6 m-t text-right">
                  <a class="btn btn-xs btn-primary"> En cours </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitationannonce">
            <img
              alt="image"
              height="70%"
              width="100%"
              src="assets/img/app3.jpg"
            />
          </div>
          <div class="product-desc">
            <span class="product-price"> $10 </span>
            <small class="text-muted">Category</small>
            <a class="product-name"> S+2</a>

            <div class="small m-t-xs">
              Many desktop publishing packages and web page editors now.
            </div>
            <div class="row">
              <div class="from-row">
                <div class="col-lg-6 m-t text-left">
                  <a class="btn btn-xs btn-outline btn-primary"
                    >Info <i class="fa fa-long-arrow-right"></i>
                  </a>
                </div>
                <div class="col-lg-6 m-t text-right">
                  <a class="btn btn-xs btn-primary"> En cours </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitationannonce">
            <img
              alt="image"
              height="70%"
              width="100%"
              src="assets/img/app3.jpg"
            />
          </div>
          <div class="product-desc">
            <span class="product-price"> $10 </span>
            <small class="text-muted">Category</small>
            <a class="product-name"> S+2</a>

            <div class="small m-t-xs">
              Many desktop publishing packages and web page editors now.
            </div>
            <div class="row">
              <div class="from-row">
                <div class="col-lg-6 m-t text-left">
                  <a class="btn btn-xs btn-outline btn-primary"
                    >Info <i class="fa fa-long-arrow-right"></i>
                  </a>
                </div>
                <div class="col-lg-6 m-t text-right">
                  <a class="btn btn-xs btn-primary"> expire </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitationannonce">
            <img
              alt="image"
              height="70%"
              width="100%"
              src="assets/img/appartement1.jpg"
            />
          </div>
          <div class="product-desc">
            <span class="product-price"> $10 </span>
            <small class="text-muted">Category</small>
            <a class="product-name"> S+2</a>

            <div class="small m-t-xs">
              Many desktop publishing packages and web page editors now.
            </div>
            <div class="row">
              <div class="from-row">
                <div class="col-lg-6 m-t text-left">
                  <a class="btn btn-xs btn-outline btn-primary"
                    >Info <i class="fa fa-long-arrow-right"></i>
                  </a>
                </div>
                <div class="col-lg-6 m-t text-right">
                  <a class="btn btn-xs btn-primary"> expire </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitationannonce">
            <img
              alt="image"
              height="70%"
              width="100%"
              src="assets/img/appartement1.jpg"
            />
          </div>
          <div class="product-desc">
            <span class="product-price"> $10 </span>
            <small class="text-muted">Category</small>
            <a class="product-name"> S+2</a>

            <div class="small m-t-xs">
              Many desktop publishing packages and web page editors now.
            </div>
            <div class="row">
              <div class="from-row">
                <div class="col-lg-6 m-t text-left">
                  <a class="btn btn-xs btn-outline btn-primary"
                    >Info <i class="fa fa-long-arrow-right"></i>
                  </a>
                </div>
                <div class="col-lg-6 m-t text-right">
                  <a class="btn btn-xs btn-primary">
                    En cours <i class="fa fa-long-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitationannonce">
            <img
              alt="image"
              height="70%"
              width="100%"
              src="assets/img/app3.jpg"
            />
          </div>
          <div class="product-desc">
            <span class="product-price"> $10 </span>
            <small class="text-muted">Category</small>
            <a class="product-name"> S+2</a>

            <div class="small m-t-xs">
              Many desktop publishing packages and web page editors now.
            </div>
            <div class="row">
              <div class="from-row">
                <div class="col-lg-6 m-t text-left">
                  <a class="btn btn-xs btn-outline btn-primary"
                    >Info <i class="fa fa-long-arrow-right"></i>
                  </a>
                </div>
                <div class="col-lg-6 m-t text-right">
                  <a class="btn btn-xs btn-primary"> En cours </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitationannonce">
            <img
              alt="image"
              height="70%"
              width="100%"
              src="assets/img/appartement1.jpg"
            />
          </div>
          <div class="product-desc">
            <span class="product-price"> $10 </span>
            <small class="text-muted">Category</small>
            <a class="product-name"> S+2</a>

            <div class="small m-t-xs">
              Many desktop publishing packages and web page editors now.
            </div>
            <div class="row">
              <div class="from-row">
                <div class="col-lg-6 m-t text-left">
                  <a class="btn btn-xs btn-outline btn-primary"
                    >Info <i class="fa fa-long-arrow-right"></i>
                  </a>
                </div>
                <div class="col-lg-6 m-t text-right">
                  <a class="btn btn-xs btn-primary"> En cours </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitationannonce">
            <img
              alt="image"
              height="70%"
              width="100%"
              src="assets/img/app3.jpg"
            />
          </div>
          <div class="product-desc">
            <span class="product-price"> $10 </span>
            <small class="text-muted">Category</small>
            <a class="product-name"> S+2</a>

            <div class="small m-t-xs">
              Many desktop publishing packages and web page editors now.
            </div>
            <div class="row">
              <div class="from-row">
                <div class="col-lg-6 m-t text-left">
                  <a class="btn btn-xs btn-outline btn-primary"
                    >Info <i class="fa fa-long-arrow-right"></i>
                  </a>
                </div>
                <div class="col-lg-6 m-t text-right">
                  <a class="btn btn-xs btn-primary"> expire </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitationannonce">
            <img
              alt="image"
              height="70%"
              width="100%"
              src="assets/img/appartement1.jpg"
            />
          </div>
          <div class="product-desc">
            <span class="product-price"> $10 </span>
            <small class="text-muted">Category</small>
            <a class="product-name"> S+2</a>

            <div class="small m-t-xs">
              Many desktop publishing packages and web page editors now.
            </div>
            <div class="row">
              <div class="from-row">
                <div class="col-lg-6 m-t text-left">
                  <a class="btn btn-xs btn-outline btn-primary"
                    >Info <i class="fa fa-long-arrow-right"></i>
                  </a>
                </div>
                <div class="col-lg-6 m-t text-right">
                  <a class="btn btn-xs btn-primary"> En cours </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitationannonce">
            <img
              alt="image"
              height="70%"
              width="100%"
              src="assets/img/app3.jpg"
            />
          </div>
          <div class="product-desc">
            <span class="product-price"> $10 </span>
            <small class="text-muted">Category</small>
            <a class="product-name"> S+2</a>

            <div class="small m-t-xs">
              Many desktop publishing packages and web page editors now.
            </div>
            <div class="row">
              <div class="from-row">
                <div class="col-lg-6 m-t text-left">
                  <a class="btn btn-xs btn-outline btn-primary"
                    >Info <i class="fa fa-long-arrow-right"></i>
                  </a>
                </div>
                <div class="col-lg-6 m-t text-right">
                  <a class="btn btn-xs btn-primary"> expire </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
