<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Annonces</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Detail Annonce</a>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-9">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="m-b-md">
                <a
                  data-toggle="modal"
                  data-target="#myModalAnnonce"
                  class="btn btn-primary btn-xs pull-right"
                  >Modifier</a
                >
                <div
                  class="modal inmodal"
                  id="myModalAnnonce"
                  tabindex="-1"
                  role="dialog"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content animated bounceInRight">
                      <div class="modal-header">
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          <span aria-hidden="true">&times;</span
                          ><span class="sr-only">Fermer</span>
                        </button>
                        <h6 class="modal-title">Modifier Annonce</h6>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-lg-12">
                            <form>
                              <div class="form-group text-left">
                                <div class="col-md-12 mb-3">
                                  <label class="">Description </label>
                                  <textarea
                                    type="text"
                                    placeholder="YATA Immobilière vous propose à la vente un appartement S+2 situé au 1er étage de la résidence La LUNA, située sur les hauteurs de la station touristique Kelibia la Blanche, bénéficiant d'une vue sur mer.
Il s'agit d'une résidence en R+2 idéale pour passer vos vacances au bord de la plage classée 7éme des plus belle plage au monde."
                                    class="form-control"
                                  ></textarea>
                                </div>
                              </div>
                              <div class="form-group text-left">
                                <div class="col-md-3 mb-3">
                                  <label class="">Nbr Chambres </label>
                                  <input
                                    type="text"
                                    placeholder=""
                                    class="form-control"
                                  />
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label class="">Nbr Salle de bain </label>
                                  <input
                                    type="text"
                                    placeholder=""
                                    class="form-control"
                                  />
                                </div>
                                <div class="col-md-3 mb-3">
                                  <label class="">Superficie </label>
                                  <input
                                    type="text"
                                    placeholder="104.75 m2"
                                    class="form-control"
                                  />
                                </div>
                                <div class="col-md-2 mb-3">
                                  <label class="">Etage </label>
                                  <input
                                    type="text"
                                    placeholder="104.75 m2"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                              <div class="form-group text-left">
                                <div class="col-md-4 mb-3">
                                  <label class=""> Pays </label>
                                  <select class="form-control">
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                  </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label class="">Région </label>
                                  <select class="form-control">
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                  </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label class="">Etage </label>
                                  <select class="form-control">
                                    <option>1ére</option>
                                    <option>2éme</option>
                                    <option>3éme</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group text-left">
                                <div class="col-md-4 mb-3">
                                  <label class="">Adresse </label>
                                  <input
                                    type="text"
                                    placeholder="104.75 m2"
                                    class="form-control"
                                  />
                                </div>

                                <div class="col-md-4 mb-3">
                                  <label class="">Category </label>
                                  <select class="form-control">
                                    <option>Category 1</option>
                                    <option>Category 2</option>
                                    <option>Category 3</option>
                                  </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label class="">Prix </label>
                                  <input
                                    type="text"
                                    placeholder="104.75 m2"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                            </form>
                          </div>
                          <div class="col-lg-12">
                            <br /><br />
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-xs btn-white"
                                data-dismiss="modal"
                              >
                                Annuler
                              </button>
                              <button
                                type="button"
                                class="btn btn-xs btn-primary"
                              >
                                Modifier
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <h2>Appartement en S+1 de 72m² au RDC</h2>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="social-feed-box">
                <div class="social-body">
                  <img src="assets/img/app3.jpg" class="img-responsive" />
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <br />
                    <p>
                      Résidence Le Palmeraie de Taiba, située à Borj Louzir
                      Ariana, vous propose des appartements S+1, S+2 et S+3 avec
                      des superficies allant de 75 m² à 140 m², ouvrant sur des
                      larges terrasses ou des jardins privatifs. C'est une
                      résidence en R+2 qui bénéficie d'un parking extérieur
                      destiné à tous les habitants. Prix : 2400 m² Remise des
                      clés immédiate
                    </p>
                    <br />
                    <br />
                    <div class="col-lg-6">
                      <table style="width: 100%">
                        <tr>
                          <td style="width: 20%">Propriété pour</td>
                          <td style="width: 20%">.....................</td>
                          <td style="width: 20%">Habitation</td>
                        </tr>

                        <tr>
                          <td style="width: 20%">Salle de bain</td>
                          <td style="width: 20%">.....................</td>
                          <td style="width: 20%">1</td>
                        </tr>

                        <tr>
                          <td style="width: 20%">Année de livraison</td>
                          <td style="width: 20%">.....................</td>
                          <td style="width: 20%">2022</td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-lg-6">
                      <table style="width: 100%">
                        <tr>
                          <td style="width: 20%">Chambres</td>
                          <td style="width: 20%">.....................</td>
                          <td style="width: 20%">1</td>
                        </tr>

                        <tr>
                          <td style="width: 20%">Superficie</td>
                          <td style="width: 20%">.....................</td>
                          <td style="width: 20%">72 m2</td>
                        </tr>

                        <tr>
                          <td style="width: 20%">Place de parking</td>
                          <td style="width: 20%">.....................</td>
                          <td style="width: 20%">Oui</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <br />
                    <h4>
                      &nbsp; &nbsp; &nbsp;
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      EMPLACEMENT
                    </h4>
                    <br />
                    <div class="col-lg-8">
                      <table style="width: 70%">
                        <tr>
                          <td style="width: 20%">Pays</td>
                          <td style="width: 20%">.....................</td>
                          <td style="width: 20%">Tunisie</td>
                        </tr>

                        <tr>
                          <td style="width: 20%">État/Région/Province</td>
                          <td style="width: 20%">.....................</td>
                          <td style="width: 20%">Gouvernorat de l'Ariana</td>
                        </tr>

                        <tr>
                          <td style="width: 20%">Ville</td>
                          <td style="width: 20%">.....................</td>
                          <td style="width: 20%">La Soukra</td>
                        </tr>
                        <tr>
                          <td style="width: 20%">Adresse</td>
                          <td style="width: 20%">.....................</td>
                          <td style="width: 20%">Borj Louzir</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <br />
                    <h4>
                      &nbsp; &nbsp; &nbsp;
                      <i class="fa fa-info-circle"></i>
                      INFORMATION ADDITIONNELLE
                    </h4>
                    <br />
                    <div class="col-lg-8">
                      <table style="width: 70%">
                        <tr>
                          <td style="width: 20%">
                            <i class="fa fa-check"></i> Jardin privatif
                          </td>
                        </tr>

                        <tr>
                          <td style="width: 20%">
                            <i class="fa fa-check"></i>Gardiennage
                          </td>
                        </tr>

                        <tr>
                          <td style="width: 20%">
                            <i class="fa fa-check"></i>Terrasse
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="wrapper wrapper-content project-manager">
      <img src="assets/img/syndic.png" class="img-responsive img-circle" />
      <p class="small">Pour plus d'informations, contactez-nous.</p>
      <p class="small font-bold">
        <span
          ><i class="fa fa-circle text-warning"></i> &nbsp; &nbsp; &nbsp;71 345
          546</span
        ><br />
        <span
          ><i class="fa fa-circle text-navy"></i> &nbsp; &nbsp;
          &nbsp;syndic@gmail.com</span
        >
      </p>
    </div>
  </div>
</div>
