<div class="wrapper wrapper-content animated fadeInDown">
  <div id="Entete" class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="logo-center col-lg-3">
            <div class="logo-center">
              <p class="text-center">
                <small>
                  ************** <br />République Tunisienne<br />
                  Ministère de finance<br />
                  ******************* <br />Direction Générale du contrôle
                  fiscal
                </small>
              </p>
            </div>
          </div>
          <div class="logo-center col-lg-5"></div>

          <div class="logo-center col-lg-4">
            <p class="text-center">
              <b
                ><br /><small
                  >DE RETENUE D'IMPOT SUR LE REVENU OU <br />
                  D'IMPOT SUR LES SOCIETES</small
                >
              </b>
            </p>
          </div>
        </div>

        <div class="col-lg-12">
          <br /><br />
          <h3>A- PERSONNE OU ORGANISME PAYEUR</h3>
          <table style="width: 100%" class="table table-bordered">
            <thead>
              <tr>
                <th width="10%" class="detailsDocTitle">Matricule Fiscale</th>
                <th width="10%" class="detailsDocTitle">Code TVA</th>
                <th width="10%" class="detailsDocTitle">Code de catégorie</th>
                <th width="10%" class="detailsDocTitle">N° etab. secondaire</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>964968K</td>
                <td>A</td>
                <td>M</td>
                <td>000</td>
              </tr>
            </tbody>
          </table>
          <br />
          <h3></h3>

          <table style="width: 70%" class="table table-bordered">
            <thead>
              <tr>
                <th class="detailsDocTitle text-center">
                  Nom, Prénom ou raison sociale
                </th>
                <th class="detailsDocTitle text-center">Adresse</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">MUREX</td>
                <td>RUE HABIB THAMEUR, IMM. FAKHFAKH, M16</td>
              </tr>
            </tbody>
          </table>
          <br />
          <h3>B- RETENUES EFFECTUEES SUR</h3>
          <table style="width: 100%" class="table table-bordered">
            <thead>
              <tr>
                <th class="detailsDocTitle text-center">Libillé</th>
                <th class="detailsDocTitle text-center">% Retenues</th>
                <th class="detailsDocTitle text-center">Montant Brut</th>
                <th class="detailsDocTitle text-center">Retenue</th>
                <th class="detailsDocTitle text-center">Montant Net</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">RSF 1 %</td>
                <td class="text-right">1,00</td>
                <td class="text-right">540,000</td>
                <td class="text-right">5,400</td>
                <td class="text-right">534,600</td>
              </tr>

              <tr>
                <td colspan="2">Total Général :</td>
                <td class="text-right" colspan="1">540,000</td>
                <td class="text-right" colspan="1">5,400</td>
                <td class="text-right">534,600</td>
              </tr>
            </tbody>
          </table>
          <br />
          <h3>C- BENEFICIAIRE</h3>
          <table style="width: 100%" class="table table-bordered">
            <thead>
              <tr>
                <th width="10%" class="detailsDocTitle">Matricule Fiscale</th>
                <th width="10%" class="detailsDocTitle">Code TVA</th>
                <th width="10%" class="detailsDocTitle">Code de catégorie</th>
                <th width="10%" class="detailsDocTitle">N° etab. secondaire</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1535297</td>
                <td>A</td>
                <td>M</td>
                <td>97M</td>
              </tr>
            </tbody>
          </table>
          <br />
          <table style="width: 100%" class="table table-bordered">
            <thead>
              <tr>
                <th width="10%" class="detailsDocTitle">CIN / C. Séjour</th>
                <th width="10%" class="detailsDocTitle">
                  Nom, Prénom ou raison sociale
                </th>
                <th width="10%" class="detailsDocTitle">Adresse</th>
                <th width="10%" class="detailsDocTitle">
                  N° Ordre de Paiement
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td>TUNIS NEON</td>
                <td>44 RUE ELLISSA ROUTE X LE BARDO</td>
                <td>OP23000010</td>
              </tr>
            </tbody>
          </table>
          <br />
          <p>Listes des factures fournisseur : ;</p>
          <br />
          <p>
            <i
              >Je soussigné, certifie exacts et sincères les renseignements
              figurant sur le présent certificat et m'expose aux sanctions
              prévues par la loi pour toutes inexactitudes.
            </i>
          </p>
          <br />
          <div class="col-lg-12">
            <div class="col-lg-4">
              <p class="text-center"><u>Signature et cachet du payeur</u></p>
            </div>
            <div class="col-lg-4">
              <p class="text-center"><u></u></p>
            </div>
            <div class="col-lg-4">
              <p class="text-center"><u>SFAX Le 06/09/2023</u></p>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
        <div class="col-lg-12">
          <br />
          <br />
          <br />
          <div class="modal-footer">
            <input
              type="submit"
              class="btn btn-primary btn-xs dropdown-toggle"
              value="Valider"
            />
            <input
              type="submit"
              class="btn btn-white btn-xs dropdown-toggle"
              value="Annuler"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
