<div class="wrapper wrapper-content animated fadeInDown">
  <div id="Entete" class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="logo-center col-lg-2">
            <div class="logo-center">
              <img width="100%" height="105%" src="assets/img/syndic.png" />
            </div>
          </div>
          <div class="logo-center col-lg-8">
            <br />
            <br />
            <h4 class="text-center grey-background">Ordre de Paiement</h4>
            <h4 class="text-center"></h4>
          </div>

          <div class="logo-center col-lg-2"></div>
        </div>

        <div class="col-lg-12">
          <br /><br />
          <table style="width: 100%" class="table table-bordered">
            <thead>
              <tr>
                <th width="10%" class="detailsDocTitle">N° OP</th>
                <th width="10%" class="detailsDocTitle">Fournisseur</th>
                <th width="10%" class="detailsDocTitle">Type</th>
                <th width="10%" class="detailsDocTitle">Date</th>
                <th width="10%" class="detailsDocTitle">N° Certificat de RS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>OP23000026</td>
                <td></td>
                <td>Règlement Fournisseur</td>
                <td>20/09/2023</td>

                <td></td>
              </tr>
            </tbody>
          </table>
          <br />
          <h3>Règlement</h3>

          <table style="width: 100%" class="table table-bordered">
            <thead>
              <tr>
                <th class="detailsDocTitle text-center">Mode</th>
                <th class="detailsDocTitle text-center">N° Pièce</th>
                <th class="detailsDocTitle text-center">Bénéficiaire</th>
                <th class="detailsDocTitle text-center">Banque</th>
                <th class="detailsDocTitle text-center">RIB</th>
                <th class="detailsDocTitle text-center">Echeance</th>
                <th class="detailsDocTitle text-center">Montant</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Obligation Caut</td>
                <td></td>
                <td>FR0001</td>
                <td class="text-center">BNA</td>
                <td>0190115008103</td>
                <td>20/09/2023</td>
                <td>100,000</td>
              </tr>
              <tr>
                <td colspan="2">Nbre de Règlement :</td>
                <td>1</td>
                <td colspan="3">Total :</td>
                <td class="text-right">100,000</td>
              </tr>
            </tbody>
          </table>
          <h3>Imputation</h3>
          <table style="width: 100%" class="table table-bordered">
            <thead>
              <tr>
                <th class="detailsDocTitle text-center">N° Document</th>
                <th class="detailsDocTitle text-center">Date</th>
                <th class="detailsDocTitle text-center">Facture Fournisseur</th>
                <th class="detailsDocTitle text-center">Date Facture</th>
                <th class="detailsDocTitle text-center">Montant Règlement</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">FA20230467</td>
                <td>20/09/2023</td>
                <td></td>
                <td>01/06/2023</td>
                <td>100,000</td>
              </tr>

              <tr>
                <td colspan="2">Nbre de Règlement :</td>
                <td colspan="1">1</td>
                <td colspan="1">Total :</td>
                <td class="text-right">100,000</td>
              </tr>
            </tbody>
          </table>
          <br />
          <table style="width: 20%" class="table table-bordered pull-right">
            <thead>
              <tr>
                <td>Brute :</td>
                <td class="text-right">100,000</td>
              </tr>
              <tr>
                <td>Retenue :</td>
                <td class="text-right">0,000</td>
              </tr>
              <tr>
                <td>Écart :</td>
                <td class="text-right">0,000</td>
              </tr>
              <tr>
                <td>Net :</td>
                <td class="text-right">0,000</td>
              </tr>
            </thead>
          </table>
          <br />

          <div class="col-lg-12">
            <div class="col-lg-4">
              <p class="text-center"><u>DIRECTION FINANCIERE</u></p>
            </div>
            <div class="col-lg-4">
              <p class="text-center"><u>DIRECTION GENERALE</u></p>
            </div>
            <div class="col-lg-4">
              <p class="text-center"><u>SIGNATURE BENEFICIAIRE</u></p>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
        <div class="col-lg-12">
          <br />
          <br />
          <br />
          <div class="modal-footer">
            <input
              type="submit"
              class="btn btn-primary btn-xs dropdown-toggle"
              value="Valider"
            />
            <input
              type="submit"
              class="btn btn-white btn-xs dropdown-toggle"
              value="Annuler"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
